body {
    background-image: url(../img/lab10/9.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.box {
    width: 90%;
    max-width: 600px;
    border: 5px solid tomato;
    box-shadow: 0 0 5px yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}
.button {
    display: block;
    background-color: tomato;
    color: black;
    text-align: center;
    border: none;
    border-radius: 15px;
    padding: 10px 40px;
    cursor: pointer;
    font-family: Times, serif;
    font-size: 26px;
    margin-top: 20px;
}
.button:active {
    animation: pulse 0.5s;
}
.returnButton {
    display: block;
    background-color: grey;
    color: black;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    font-family: Times, serif;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.returnButton:active {
    animation: pulse 0.5s;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.name {
    color: antiquewhite;
    font-family: Times, serif;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 0 0 5px yellow;
    margin-top: 20px;
}
.changeDiv {
    color: antiquewhite;
    font-family: TImes, serif;
    font-size: 40px;
    font-style: italic;
    text-shadow: 0 0 5px yellow;
    margin-top: 20px;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot {
    width: 100px;
    height: 150px;
    margin: 0 10px;
    overflow: hidden;
}
.slot img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.result {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 5px whitesmoke;
}